.datatable {
  height: 500px;
  padding: 20px;
  .MuiDataGrid-root {
    border-bottom: none;
    }

  h1{
    width: 100%;
    font-size: 30px;
    color: #6439ffa9;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (max-width: 1380px) {
    .datagrid-row {
      /* Ancho máximo para las filas */
      width: 100px;
    }
   
  }
    @media (max-width: 980px) {
   h1{
        font-size: 10px;
      }
    
    }
  

  .datatableTitle{
    width: 100%;
    font-size: 2px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
      font-size: 50px;
      padding-left: 35%;
      text-align:center;
      margin: 0 auto;
    }

    .link{
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.ACTIVO {
      background-color: rgba(0, 255, 0, 0.171);
      color: green;
    }
    &.CON_RESERVA {
      background-color: rgba(255, 217, 0, 0.178);
      color: goldenrod;
    }
    &.INACTIVO {
      background-color: rgba(0, 4, 255, 0.164);
      color: rgb(20, 23, 220);
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
    
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
  
}

.tableWrapper{
  @media (max-width: 980px) {
    overflow-x: auto;
  }
}

.datagrid{
  @media (max-width: 980px) {
    font-size: 12px;
  }

}

@media (max-width: 980px)  {
  h1{
    font-size: 10px;
  }
}






