.home {
  display: flex;
  background-color: #f6f2ff;



.learn-more2{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    margin-left: 42%;
    font-size: inherit;
    font-family: inherit;
   }
   a{
    text-decoration: none;
    
   }
   
   .learn-more2 {
    width: 15rem;
    height: 3.7rem;
   }
   
   .learn-more2 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #6439ff;
    border-radius: 1.625rem;
   }
   
   .learn-more2 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .learn-more2 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.130rem;
    height: 0.130rem;
    background: none;
   }
   
   .learn-more2 .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   .learn-more2 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
  
  
  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }
  

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
   

  }
  
.toggleSidebarButton {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical del botón */
  left: 220px;
  z-index: 1; /* Asegura que el botón esté por encima de otros elementos */
  /* Resto de estilos, como el ancho, altura, y tamaño de fuente */
}


.label-check {
  display: none;
  
}

.hamburger-label {
  margin-top: 5px;
  height: 30px;
  display: block;
  cursor: pointer;
  background-color: #6439ff;
}

.hamburger-label div {
 
  width: 60px;
  height: 6px;
  background-color: #ffffff;
  position: absolute;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 18px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 36px 0 0 0;
  transition: 0.3s;
}

#label-check:checked + .hamburger-label .line1 {
  transform: rotate(35deg) scaleX(.55) translate(39px, -4.5px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked + .hamburger-label .line3 {
  transform: rotate(-35deg) scaleX(.55) translate(39px, 4.5px);
  border-radius: 0 50px 50px 50px;
}

#label-check:checked + .hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 45px;
}


}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 860px) {
  .homeContainer {
    font-size: 20px; /* Aumenta el tamaño de fuente */
    .widgets{
      width: 100%; /* Ancho completo */
    }
    .buttonContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .buttonContainer button {
      margin-bottom: 20px;
      width: 80%; /* Ancho del 80% del contenedor */
      font-size: 18px; /* Aumenta el tamaño de fuente */
    }
    .charts {
      padding: 5px;
      gap: 5px;
    }
    /* Cambiar el ancho de las gráficas */
    .charts {
      padding: 5px;
    }
    /* Cambiar los márgenes de la lista */
    .listContainer {
      margin: 5px;
      padding: 5px;
    }
    /* Cambiar el tamaño de la fuente del título de la lista */
    .listTitle {
      font-size: 24px; /* Aumenta el tamaño de fuente */
    }
    /* Ocultar la barra lateral */
    .sidebar {
      display: none;
    }
  }
  /* Cambiar el margen izquierdo del botón de toggle de la barra lateral */
  .toggleSidebarButton {
    left: 10px;
  }
  /* Ajustar los estilos del botón de hamburguesa */
  .hamburger-label {
    margin-top: 5px;
    height: 20px;
  }
  .hamburger-label div {
    width: 40px;
    height: 4px;
    margin: 6px 0;
  }
}


