.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 22px;
      color: #a0a0a0;
    }

    .counter {
      font-size: 35px;
      font-weight: 300;
      padding-left: 150px;
    }

    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    a{
      text-decoration: none;
      color: black;
    }
 
   
    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }



  @media screen and (max-width: 1000px ) {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    
    .left,
    .right {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;

      .counter {
        padding-left: 0;
      }
    }
  }
}