.single {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  
  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 30px;
        position: relative;

        .editButton {
          position: absolute;
          top: 20;
          bottom: 0;
          right: 0;
          padding: 5px;
          font-size: 25px;
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }
        .editButtons {
          position: absolute;
          top: 20;
          bottom: 0;
          right: 120px;
          padding: 5px;
          font-size: 25px;
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }

        .item {
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
          
          .itemValue{
            font-size: 27px;
          }

          .details {
            .itemTitle {
              margin-bottom: 10px;
              color: #555;
            }

            .detailItem {
              margin-bottom: 10px;
              font-size: 25px;

              .itemKey {
                font-weight: bold;
                color: rgb(61, 61, 61);
                margin-right: 5px;
              }

              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }

      .itemTitle{
       padding-left: 65%;
      }

    }
    
  

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 10px 20px;
    }

    .title {
      font-size: 26px;
      color: #6439ff;
      margin-bottom: 20px;
    }
    
    .title1 {
      font-size: 26px;
      color: #6439ff;
      margin-bottom: 20px;
      margin-left: 28px;
    }
  }
}

.dni {
  width: 500px;
  height: 400px;
  padding-right: 300px;
  margin-top: 150px;
  display: flex;
  margin-left: 100px;
}
