
.bar{
  width: 12%;
  padding-top: 1%;
  display: flex;
  align-items: center;
}

.bar1 {
  display: none;
}

.info-cliente{
  margin-top: 1%;
  margin-bottom: 5%;
}

.info{
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding-left: 45%;
  .calendario{
    margin-bottom: 10%;
    padding-bottom: 2%;
  }
  img{
    width: 600px;
    height: 400px;
    display: flex;
    margin-right: 20%;
    margin-left: 20%;
  }
 
}



.botones{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  padding-top: 5%;
  padding-bottom: 5%;
  a{
    color: blue;
  }
}
.check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.datatable {
  height: 800px;
  padding: 20px;
  overflow-x: hidden;

  .cellAction {
    gap: 50px;
    
    .viewButton, .deleteButton {
      font-size: 20px;
      padding: 1px 3px;
    }
  }
  

     .cellWithImg .cellImg {
      width: 50px;
      height: 50px;
      margin-right: 5px;
    }
    

   
  .datatableTitle {
    width: 100%;
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
     
      font-size: 50px;
    }

    .link {
      
      text-decoration: none;
      color: green;
      border: 1px solid green;
      cursor: pointer;
      float: left;
      margin-right: 100px;
      padding: 10px 20px;
    }
  }


  .datagrid {
    font-size: 19px;
  }

  .cellWithImg {

    display: flex;
    align-items: center;

    .cellImg {

      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 10px;

    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }

    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }

    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }


    
  }
  @media (max-width: 1366px) {
  .bar{
    width: 15%;
  }
  .info-cliente{
    width: 120%;
  }    
  }
  @media (max-width: 700px ) {
    .bar{
     width: 50%;
    }
    .info-cliente{
      width: 160%;
    }
    .info{
      display: flex;
      flex-direction: column;
      .calendario{
        padding-right: 45%;
      }
    }
    .botones{
      display: flex;
      flex-direction: column;
      
    }
   
  }

  .final{
    display: flex;
    flex-direction: column;

    align-items: flex-end;
  }

a{
  text-decoration: none;
  color: black;
}